# Datenbank Einstellungen
DB_USER=postgres
DB_PASSWORD=geheim_nas_password
DB_NAME=cloud_db
DB_HOST=localhost
DB_PORT=5432

FRONTEND_URL=http://localhost:5173
DOMAIN=localhost

ADMIN_RECOVERY_TOKEN=some_secure_token